<section class="min-h-screen bg-base-200 p-6 flex flex-col items-center">

  <!-- Hero -->
  <article class="hero bg-base-100 shadow-xl rounded-xl mb-8 w-full max-w-4xl p-6">
    <div class="hero-content flex-col text-center">
      <h1 class="text-4xl font-bold">Pokédex</h1>

      @if(pokemonService.data()?.count) {
        <p class="text-lg opacity-80">
          Total de Pokémon: 
          <span class="font-semibold">{{ pokemonService.data().count }}</span>
        </p>
      }
    </div>
  </article>

  <!-- Contenedor principal -->
  <section class="w-full max-w-5xl">

    <!-- Loading -->
    @if(pokemonService.loading()) {
      <div class="text-center text-lg">Cargando Pokémon...</div>
    }

    <!-- Error -->
    @if(pokemonService.error()) {
      <div class="text-center text-red-600">
        Error: {{ pokemonService.error() }}
      </div>
    }

    <!-- Grid de Pokémon -->
    @if (pokemonService.data()?.results) {
  <ul class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-4">
    
    @for (item of pokemonService.data().results; track item.name) {
      <li>
        <article class="card p-4 shadow rounded-lg bg-white">
          <h3 class="font-semibold capitalize text-lg mb-2">{{ item.name }}</h3>

          <button 
            class="btn btn-primary w-full"
            (click)="goToDetail(item.url)">
            Ver detalles
          </button>
        </article>
      </li>
    }
    
  </ul>
}
  </section>

  <!-- Paginación -->
  <div class="flex gap-4 mt-10">
    <button 
      class="btn btn-outline"
      (click)="prevPage()"
      [disabled]="offset() === 0"
    >
      ◀ Anterior
    </button>

    <button 
      class="btn btn-primary"
      (click)="nextPage()"
    >
      Siguiente ▶
    </button>
  </div>

</section>
